---
### Practise: Pandas

> Практика на кожен день: [LeetCode Pandas](https://leetcode.com/studyplan/30-days-of-pandas/)

In [1]:
# імпорти
import pandas as pd
import seaborn as sns

In [3]:
# вигрузка данних
df = sns.load_dataset("diamonds")
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [ ]:
# DO Eda: head, tail, sample, shape, info, describe, check null value, value_counts, unique, nunique

In [4]:
df.tail()

       carat        cut color clarity  depth  table  price     x     y     z
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

In [6]:
df.sample(10)

       carat        cut color clarity  depth  table  price     x     y     z
1143    0.68  Very Good     F     VS1   59.7   57.0   2922  5.79  5.76  3.45
38071   0.30    Premium     E    VVS2   61.4   59.0   1013  4.34  4.32  2.66
28566   0.30  Very Good     H     VS1   63.4   53.0    675  4.30  4.25  2.71
42750   0.51  Very Good     H     VS1   62.5   58.0   1343  5.09  5.12  3.19
24676   1.50      Ideal     G     VS1   60.6   57.0  13034  7.47  7.36  4.49
27161   2.50       Fair     F     SI2   65.8   58.0  17405  8.38  8.31  5.49
35323   0.31      Ideal     F    VVS1   62.1   56.0    897  4.35  4.38  2.71
1187    0.72      Ideal     F     VS2   61.8   59.0   2931  5.71  5.74  3.54
52535   0.71      Ideal     I    VVS1   62.4   57.0   2530  5.67  5.71  3.55
26382   2.04      Ideal     H     SI2   61.2   56.0  15874  8.19  8.25  5.03

In [8]:
df.shape

(53940, 10)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [10]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [18]:
df.dtypes

carat       float64
cut        category
color      category
clarity    category
depth       float64
table       float64
price         int64
x           float64
y           float64
z           float64
dtype: object

In [11]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [14]:
df['carat'].value_counts()

carat
0.30    2604
0.31    2249
1.01    2242
0.70    1981
0.32    1840
        ...
3.02       1
3.65       1
3.50       1
3.22       1
3.11       1
Name: count, Length: 273, dtype: int64

In [15]:
df['cut'].unique()

['Ideal', 'Premium', 'Good', 'Very Good', 'Fair']
Categories (5, object): ['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']

In [16]:
df['cut'].nunique()

5

---
**Завдання 1:** Оцінити середню вартість діаманта за категоріями чистоти (clarity) \
**Інструмент для вирішення:**  groupby та agg та agg function

In [20]:
df.groupby('clarity')["price"].mean().reset_index()

/var/folders/81/lw6_ljrd3d756sk3x4t1v_p40000gn/T/ipykernel_3463/2970417251.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('clarity')["price"].mean().reset_index()

  clarity        price
0      IF  2864.839106
1    VVS1  2523.114637
2    VVS2  3283.737071
3     VS1  3839.455391
4     VS2  3924.989395
5     SI1  3996.001148
6     SI2  5063.028606
7      I1  3924.168691

---
**Завдання 2:** Виявити дешеві діаманти \
**Інструменти:** loc, isin, bool mask \

Дешевий це: carat > 1.2, color = "D" або "E", price < 2000

In [ ]:
df[(df['carat'] > 5.0) & (df['color'].isin(["D", "E"])) & (df["price"]<2000)]

Empty DataFrame
Columns: [carat, cut, color, clarity, depth, table, price, x, y, z]
Index: []

---
**Завдання 3:** Знайди 10 найдорожчих діамантів у кожній категорії кольору.

In [33]:
df_max_color = df.groupby('color')["price"].max().reset_index().sort_values("price", ascending=False).head(10)
df_max_color

/var/folders/81/lw6_ljrd3d756sk3x4t1v_p40000gn/T/ipykernel_3463/3092860172.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_max_color = df.groupby('color')["price"].max().reset_index().sort_values("price", ascending=False).head(10)

  color  price
5     I  18823
3     G  18818
4     H  18803
2     F  18791
1     E  18731
6     J  18710
0     D  18693

---
**Завдання 4:** Знайти середню ціну діамантів різних категорій

In [34]:
df.groupby('clarity')["price"].mean().reset_index()

/var/folders/81/lw6_ljrd3d756sk3x4t1v_p40000gn/T/ipykernel_3463/2970417251.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('clarity')["price"].mean().reset_index()

  clarity        price
0      IF  2864.839106
1    VVS1  2523.114637
2    VVS2  3283.737071
3     VS1  3839.455391
4     VS2  3924.989395
5     SI1  3996.001148
6     SI2  5063.028606
7      I1  3924.168691

---
**Завдання 5:** Порахуйте, на скільки % дорожчі діаманти кольору D порівняно з кольором G

In [45]:
df_color_D = df[df["color"] == "D"]["price"].max()
df_color_G = df[df["color"] == "G"]["price"].max()
print(df_color_D)
print(df_color_G)
dif = df_color_G / df_color_D - 1
print(dif)

18693
18818
0.006686995131867546

In [ ]:
# приклад корреляції
df.corr(numeric_only=True)["price"].sort_values(ascending=False)